target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
# Ignore the whole .idea folder
.idea/

# Or ignore only the files you want to exclude
# .idea/modules.xml
# .idea/jarRepositories.xml
# .idea/compiler.xml
# .idea/libraries/
# *.iws
# *.iml
# *.ipr
# .idea/workspace.xml
# .idea/tasks.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### For JavaFX and Maven
*.exe
*.class
target/
out/
build/
*.log
*.env
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
*~
*.tmp
*.bak
*.swp
Lab5/shapes.txt
Lab5/saved_shapes.txt

### For C++ and CMake
cmake-build-debug/
cmake-build-release/
CMakeLists.txt.user

# CMake
cmake-build-*/
*.cmake
*.make
